button{
    background-color: black(235,48,48);
}
h1{
    padding: 9px;
    font:size 15px;
    font-family:input;
    color: brown;
}
boody{
    background-color: red(154,140,167);
    
}



    
    
    



    

    
